body{
    font-family: 'Open Sans',sans-serif;
    background-color: black;
}
#container{
    width: 1000px;
    height: 550px;
    background-image:url("ocean-wave.jpg");
    background-position: center;
    margin: 20px auto;
}
#calculator{
   
    width: 350px;
    height: 520px;
    background-color: rgb(204, 163, 163);
    margin: 0 auto;
    top: 15px;
    position: relative;
    border-radius: 5px;
    box-shadow: inset -1px -1px 6px 7px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

} 
#result{
    height: 120px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #020202;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}
#keyboard{
    height: 400px;
}
.oparetor, .number, .empty{
    width: 45px;
    height: 45px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 20px;
}
.number, .empty{
    background-color:  rgb(204, 163, 163);
}
.number, .oparetor{
    cursor: pointer;
}
.oparetor:active,.number:active{
    font-size: 25px;
}
.oparetor:focus,.number:focus,.empty:focus{
    outline: 0;
}
button:nth-child(4){
    font-size: 30px;
    background-color: cornflowerblue;
}
button:nth-child(8){
    font-size: 30px;
    background-color: rgb(42, 99, 64);
}
button:nth-child(12){
    font-size: 30px;
    background-color: rgb(100, 237, 173);
}
button:nth-child(16){
    font-size: 30px;
    background-color: rgb(237, 100, 100);
}
button:nth-child(20){
    font-size: 30px;
    background-color: rgba(115, 20, 179, 0.774);
}